@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/* Navbar */
.nav-container {
  background: #6700ee;
  a {
    color: #ffffff;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;

  .logo {
    color: #00f7ff;
    font-weight: bold;
  }

  nav {
    float: right;
    ul {
      display: flex;
      a {
        display: block;
        padding: 0 1em;
      }
    }
  }
}

.social-header,
.hero-design,
.footer-design {
  display: none;
}

@media only screen and (min-width: 1050px) {
  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    header {
      background: #6e00ff;
    }
  }

  header {
    padding: 2em 2em 2em 4em;
  }

  .social-header {
    padding: 2em 4em 2em 0;
  }

  .social-header {
    display: block;
    ul {
      display: flex;
      justify-content: space-between;
      width: 7em;
      float: right;
      img {
        width: 20px;
      }
    }
  }
}

/* Hero section */
.hero {
  background: #6e00ff;
  color: #ffffff;
  display: grid;
  text-align: center;
  padding-top: 6em;
  height: 90vh;
}

.meet {
  display: flex;
  margin: 4em auto;
  width: 200px;
  font-weight: bold;
  color: #ff64cb;
  font-size: 24px;
  span {
    margin-top: 1em;
    margin-right: 0.5em;
  }
}

.scroll {
  width: 30px;
  margin-top: 1em;
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 91.5vh;
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
    .content {
      background: #6e00ff;
      padding: 6em 8em 6em 4em;
      text-align: left;
      h1 {
        font-size: 3em;
        line-height: 1.2em;
      }
    }
  }

  .hero .content {
    padding: 6em 8em 6em 10em;
  }

  .meet {
    margin: unset;
  }

  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }

  .right {
    margin-top: 4em;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
  from {
    transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    transform: translate(262px, 830px);
  }
}

@media only screen and (min-width: 1550px) {
  .hero .content {
    padding: 9em 20em 6em 20em;
  }
}

section {
  text-align: center;
  padding-top: 3em;
  padding-right: 3em;
  padding-left: 3em;
  padding-bottom: 3em;
}

/* Skills Section */

.skills {
  background: #ff64cb;
}

.skills-container ul li {
  background: #ffffff;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;

  .icon-container {
    height: 100px;
    display: grid;
    place-content: center;
    margin: 0 auto;

    &.one {
      width: 100px;
    }

    &.two {
      width: 150px;
    }

    &.three {
      width: 75px;
    }
  }

  .skill-title {
    font-weight: bold;
  }

  .featured-desc {
    margin-bottom: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  section {
    padding: 0;
  }

  .skills {
    height: 50vh;
    padding-top: 10em;
    padding-right: 10em;
    padding-left: 10em;
  }

  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
}

/* Footer */

footer {
  height: 35vh;
}

.main-footer__texts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;
}

.main-footer__first-text {
  font-size: 0.75em;
  font-weight: bold;
}

.main-footer__second-text a {
  color: #6e00ff;
  font-size: 1.85em;
  font-weight: bold;
}

.main-footer__social {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background: #6e00ff;
}

.main-footer__social-logo {
  color: #00f7ff;
  font-weight: bold;
}

.main-footer__social-icons {
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    a {
      display: block;
      padding: 0 .5em;
      img {
        width: 20px;
      }
    }
  }
}

@media only screen and (min-width: 1050px) {
  .main-footer__texts {
    padding-bottom: 7.2em;
  }

  .main-footer__social-logo {
    margin-top: 1.5em;
  }

  .main-footer__social-icons {
    margin-top: 1.5em;
  }

  .footer-design {
    display: unset;
    width: 30%;
    margin-top: -28%;
    margin-left: -90%;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

/*

.featured {
  position: relative;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #e5d5fa;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #6e00ff;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: #000000;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #3b3b3b;
  margin-bottom: 3em;
  font-size: 0.85em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background: #ff64cb;
}

.skills-container ul li {
  background: #ffffff;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;

  .icon-container {
    height: 100px;
    display: grid;
    place-content: center;
    margin: 0 auto;

    &.one {
      width: 50px;
    }

    &.two {
      width: 100px;
    }

    &.three {
      width: 60px;
    }
  }

  .skill-title {
    font-weight: bold;
  }

  .featured-desc {
    margin-bottom: 2em;
  }
}

.portfolio {
  background: #f7f7f7;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

footer {
  padding-top: 8em;
}

.main-footer__texts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 8em;
}

.main-footer__first-text {
  font-size: 0.75em;
  font-weight: bold;
}

.main-footer__second-text a {
  color: #6e00ff;
  font-size: 1.85em;
  font-weight: bold;
}

.main-footer__social {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background: #6e00ff;
}

.main-footer__social-logo {
  color: #00f7ff;
  font-weight: bold;
}

.main-footer__social-icons {
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    a {
      display: block;
      padding: 0 1em;
      img {
        width: 20px;
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  footer {
    margin-top: 6em;
  }

  .featured,
  .portfolio {
    text-align: left;
  }

  .featured,
  .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .left,
  .portfolio-left {
    display: grid;
    place-content: center;
  }

  .right {
    margin-left: 2em;
    margin-top: 3em;
    margin-bottom: 1em;
  }

  .shiver {
    width: 175px;
    position: relative;
    right: 40px;
    top: -60px;
  }

  .shiver-text {
    position: relative;
    bottom: 150px;
    right: 30px;
  }

  .animated-title > div div {
    font-size: 24px;
  }

  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }

  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }

  .portfolio {
    padding-top: 7em;
  }

  .portfolio-container img {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 91.5vh;
  }

  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    header {
      background: #6e00ff;
    }
  }

  header {
    padding: 2em 2em 2em 4em;
  }

  .social-header {
    padding: 2em 4em 2em 0;
  }

  .social-header {
    display: block;
    ul {
      display: flex;
      justify-content: space-between;
      width: 7em;
      float: right;
      img {
        width: 20px;
      }
    }
  }

  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
    .content {
      background: #6e00ff;
      padding: 6em 8em 6em 4em;
      text-align: left;
      h1 {
        font-size: 3em;
        line-height: 1.2em;
      }
    }
  }

  .main-footer__social-logo {
    margin-top: 2.5em;
  }

  .main-footer__social-icons {
    margin-top: 2.5em;
  }

  .footer-design {
    display: unset;
    width: 30%;
    margin-top: -28%;
    margin-left: -90%;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .meet {
    margin: unset;
  }

  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }

  .right {
    margin-top: 4em;
  }

  .portfolio img {
    float: right;
    max-width: 500px;
  }

  .shiver {
    width: 200px;
    position: relative;
    left: 40px;
    top: -40px;
  }

  .shiver-text {
    position: relative;
    bottom: 140px;
    right: 20px;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10m;
  }

  .social-header {
    padding: 2em 10em 2em 0;
  }

  section {
    padding: 10em 10em 4em 10em;
  }

  .hero .content {
    padding: 6em 8em 6em 10em;
  }

  .featured {
    padding-top: 4em;
  }

  .shiver {
    width: 300px;
  }

  .shiver-text {
    left: 20px;
    bottom: 200px;
  }

  .main-footer__social-logo {
    margin-top: 2em;
  }

  .main-footer__social-icons {
    margin-top: 2em;
  }

  .footer-design {
    display: unset;
    width: 25%;
    margin-top: -21%;
    margin-left: -90%;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20m;
  }

  .social-header {
    padding: 2em 20em 2em 0;
  }

  section {
    padding: 6em 20em 4em 20em;
  }

  .hero .content {
    padding: 9em 20em 6em 20em;
  }
}



*/
